<!DOCTYPE html>
<html>
<head>
    <title>{% if form.instance.pk %}Editar Tarea{% else %}Nueva Tarea{% endif %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <div class="login-box">
            <h1>{% if form.instance.pk %}Editar Tarea{% else %}Nueva Tarea{% endif %}</h1>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Guardar</button>
            </form>
            <p><a href="{% url 'task_list' %}">Volver a la lista</a></p>
        </div>
    </div>
</body>
</html>

